*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: inter;
    src: url(/frontend/assets/typography/Inter/static/Inter_18pt-Medium.ttf);
}
@font-face{
    font-family: roboto;
    src: url(/frontend/assets/typography/Roboto/static/Roboto-Medium.ttf);
}
/*---------- MAIN STYLES ----------*/
/*----- HEADER STYLES-----*/

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo__container{
    width: 30%;
}
#logo__container img{
    width: 100%;
    margin: 25px;
}
#loader__cont{
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader__cont img{
    width: 50%;
    animation: loader 2s infinite;
}
#burguer__nav {
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
}
#burguer__nav i{
    margin: 25px;
}
#functions__burguer__container{
    background-color: #007CB2;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width:100dvw;
    overflow: hidden;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
#functions__burguer__inner{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.functions__burguer__hiden{
    margin: 25px;
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
}
.menu__buttons{
    position: relative;
    z-index: 20;
    display: flex;
    width: 60%;
    text-align: center;
    color: #FFFFFF;
}
.menu__buttons h3{
    position: relative;
    z-index: -1;
}

/*----- END HEADER STYLES-----*/
/*----- CALLENDAR STYLES-----*/
h3, h4{
    font-family: roboto;
    font-weight: 100;
    text-align: center;
}
#callendar__container{
    border: 2px solid ;
    padding: 10px;
    background: linear-gradient(#1aa4df 20%, #00000091 );
}
#main__callendar{
    width: 90%;
    height: 50dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#year__container, #month__container{
    text-align: center;
}
#month__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#days__week__container{
    display: grid;
    grid-template-rows: 15px;
    grid-template-columns: repeat(7, 1fr);
}
#days__container{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7,1fr);
    background-color: #00203B;
}
.days__week__cell{
    text-align: center;
    font-size: 15px;

}
.days__cell{
    font-family: inter;
    background: #FFFFFF;
    margin: 2px;
    position: relative;
    display: flex;
    align-items: end;
    /*display: none;*/
}
#today-day{
    border: 2px solid green;
}
.previous__days{
    background-color: rgb(203, 203, 203);
    opacity: .5;
    /*z-index: 0;
    /*display: block;*/
}
.weather__cell__img{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 110%;
    background: radial-gradient( rgb(60, 180, 236) 5%, #ffffff00 70%);
}
.task__Urgente{
    background: radial-gradient(farthest-corner at 4px 4px,  rgb(255, 255, 255) 55%, rgb(255, 0, 0));
}
.task__Alta{
    background: radial-gradient(farthest-corner at 4px 4px, rgb(255, 255, 255) 55%, orange);
}
.task__Media{
    background: radial-gradient(farthest-corner at 4px 4px, rgb(255, 255, 255) 55%, rgb(119, 145, 3));
}
.task__Baja{
    background: radial-gradient(farthest-corner at 4px 4px, rgb(255, 255, 255) 55%, green);
}
/*----- END CALLENDAR STYLES-----*/
/*----- TASK GROUPS STYLES-----*/
#task__group__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 7dvh;
    min-height: 30dvh;
    background-color: rgb(255, 255, 255);
}
.task__group{
    width: 80%;
}
.task__group__cont--empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task{
    margin-left: 10%;
    width: 80%;
    border-top: 1px solid #1aa4df;
    border-bottom: 1px solid #1aa4df;
    padding: 7px;
}
.task__group{
    border: 2px solid #1aa4df;
}
.task__group summary{
    border-bottom: 2px solid #1aa4df;

}
.task__group, .task__group summary{
    padding: 5px;
    margin: 2px;
}
.task__group summary, .task__content__container{
    display: flex ;
    justify-content: space-between;
}
.group__content{
    margin-left: 25px;
}
.task__group__div__container{
    height: 25px;
    width: 100%;
    background-color: aquamarine;
}
.notice-message{
    color: #000000;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
/*----- END TASK GROUPS STYLES-----*/

/*----- LOGIN STYLES-----*/
#login__cont{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top:0 ;
    left: 0;
    background-color: #FFFFFF;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#login__form__cont, #sign__in__cont{
    width: 80%;
    text-align: center;
}
#inputs__cont{
    display: flex;
    flex-direction: column;
}
#login__buttons__cont{
    text-align: center;
    padding: 25px;
}

.login__sects{
    padding: 25px;
    display: none;
}
.login__sects--active{
    display: block;
}

/*----- END LOGIN STYLES-----*/
/*----- FOOTER STYLES-----*/
#footer{
    position: fixed;
    bottom: 0;
    height: 7dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: all ease-in-out .7s;

}
#weather__container, #news__container{
    width: 50%;
    height: 100%;
    transition: all ease-in-out .7s;

}
#weather__container{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgb(60, 175, 241), #FFFFFF 80%);
}
#news__container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #007CB2;
}
#news__container h2{
    text-align: center;
}
.news__open-footer{
    height: 75dvh !important;
}
.news__open{
    width: 100% !important;
}
.today__weater__open{
    width: 0 !important;
    padding: 0 !important;
}
#news__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    flex-direction: column;
}
#news__inner a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 12px;
}
.news__item{
    width: 80%;
    height: 35px;
    margin: 5px;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 5px;
}
/*----- END FOOTER STYLES-----*/

/*---------- END MAIN STYLES ----------*/


/*---------- FUNCTIONS STYLES ----------*/
/*----- BLUR SECTION STYLES-----*/
#blur__background{
    z-index: 30;
    top: 0;
    left: 0;
    position: fixed;
    height: 100dvh;
    width:100dvw;
    background-color: black;
    opacity: 0.8;
    backdrop-filter: blur(50px);
}
#blur__section--X{
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 60;
}
#blur__content__container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blur__content{
    background-color: #007CB2;
    width: 90%;
    min-height: 50%;
    display: flex;
    align-items: center;
}
#blur__content h2, #blur__content label{
    color: #f1f1f1;
}
#blur__content h2{
    font-family: inter;

}
#get__for__priority__result__container h3,
#get__for__priority__result__container h4,
#get__for__priority__result__container p{
    color: #e3dede;
}
#blur__content form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
#get__for__priority__inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#get__for__priority__result__container{
    margin: 25px;
    max-height: 50dvh;
    overflow: scroll;
}
#get__for__priority__inner h3{
    color: #FFFFFF;
}
.hide{
    display: none !important;
}
.inputs__container{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.blur__inputs{
    width: 100%;
}
#days__task__container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#days__task{
    width: 80%;
}
#days__task h2{
    text-align: center;
}
#days__task h3 , #days__task p, #days__task h4{
    color: #f1f1f1;
}
.day__task__container{
    margin: 20px;

}
.view__task__container{
    display: flex;
    justify-content: space-between;
}
.priority__task__container{
    border: 1px solid #f1f1f1;
    margin: 7px;
    padding: 15px;
    border-radius: 5px;
}
/*----- END BLUR SECTION STYLES-----*/
/*---------- END STYLES ----------*/

@keyframes loader{
    0%{
        opacity: 0;
    }50%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}

/*---------- MEDIA QUERIES ----------*/
@media (min-width: 480px) and (max-width: 769px) {
    #callendar__container{
        width: 80%;
        margin: 0 auto;
    }
    #logo__container img{
        width: 80%;
    }
    #functions__burguer__inner{
        width: 100%;
    }
    #blur__content form{
        width: 70%;
        margin: 0 auto;
    }
    #burguer__nav i{
        font-size: 25px;
    }
    .menu__buttons{
        width: auto;
    }
    #weather__container{
        padding: 0 15%;
    }
    .weather__cell__img{
        width: 60%;
    }
    summary{
        font-size: 22px;
    }
}
@media (min-width: 769px) and (max-width:1025px) {
    #main__cont{
        display: flex;
    }
    #callendar__container{
        width: 50%;
        height: 100%;
    }
    #task__group__container{
        border: #007CB2 1px solid;
        margin: 0;
        width: 50%;
    }
    #blur__content form{
        width: 60%;
        margin: 0 auto;
    }
    #logo__container img{
        width: 30%;
    }
    #functions__burguer__inner{
        width: 100%;
    }
    #burguer__nav i{
        font-size: 25px;
    }
    .menu__buttons{
        width: auto;
    }
    #days__task__container{
        width: 50%;
        margin: 0 auto;
    }
    #weather__container{
        padding: 0 15%;
    }
    .weather__cell__img{
        width: 60%;
    }
    summary{
        font-size: 22px;
    }
}
@media (min-width: 1025px) {
    #main__cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70dvh;
    }
    #callendar__container{
        width: 50%;
        height: 100%;
    }
    #task__group__container{
        border: #007CB2 1px solid;
        margin: 0;
        width: 50%;
    }
    #logo__container img{
        width: 30%;
    }
    #functions__burguer__inner{
        width: 100%;
    }
    #blur__content form{
        width: 50%;
        margin: 0 auto;
    }
    #days__task__container{
        width: 50%;
        margin: 0 auto;
    }
    #blur__content{
        width: 60%;
    }
    #burguer__nav i{
        font-size: 25px;
    }
    .menu__buttons{
        width: auto;
    }
    #weather__container{
        padding: 0 15%;
    }
    .weather__cell__img{
        width: 50%;
    }
    #news__item{
        overflow:auto;
    }
    summary{
        font-size: 22px;
    }
}